#root, .App {
  height: 100vh;
}

.App {
  text-align: center;
}

.App-header {
  height: 70px;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  padding: 15px 0px;
  color: white;
}

.lekha-profile {
  border-radius: 100%;
  max-width: 275px;
}

.profile-description {
  width: 90%;
  margin: 0 auto;
}
.profile-description > p {
  text-align: left;
}

.five-margin {
  margin-top: 5%;
}

.row {
  text-align: left;
  padding: 0 15px;
}

.ui.segment {
  box-shadow: none;
  border: none;
}

.icons > a {
  vertical-align: text-bottom;
  color: white;
}

.header-name {
  display: inline;
}


.container {
  text-align: left;
  height: calc(100vh - 70px);
}

h1, h2, h3, h4, h5, ul {
  margin: 5px 0;
}

.download {
  text-align: right;
}

.class-container {
  padding: 0 15%;
}

.center {
  text-align: center;
}

.company-name {
  font-weight: 700;
}

.left {
  display: inline;
}

.right {
  display: inline;
  float: right;
}

@media screen and (max-width: 850px) {
  .App-header {
    padding: 15px;
    height: auto;
  }

  .class-container {
    padding: 0 7%;
  }
}


